<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Supermercado+One&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../asset/base.css">
    <link rel="stylesheet" href="../asset/gameoverview.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="icon" type="image/png" href="../image/bow_tie.png">
    <title>Wonderland</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light px-3 position-fixed w-100 top-0">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="../index.html">Home Page</a>
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-2">
                        <a class="nav-link active text-light" aria-current="page" href="#">Game Overview</a>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link text-light" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown px-2">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            More
                        </a>
                        <ul class="dropdown-menu mt-2" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-dark" href="#">News</a></li>
                            <li><a class="dropdown-item text-dark" href="#">Community</a></li>
                            <li class="text-dark">
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-dark" href="#">Support</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-store"></i></button>
                </form>
            </div>
        </div>
    </nav>

    <div class="main container-fluid">
        <div class="about-game-section">
            <h1 class="text-center">Wonderland: Glory Story</h1>
            <p class="text-light text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quibusdam consequuntur
                voluptatum nobis fugit
                dolorum sapiente id molestiae ab illo unde aut suscipit minima, recusandae et quisquam libero numquam
                corporis vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto unde dolore officia
                mollitia quis aspernatur repudiandae vero fugit molestiae magni minima quos iste corporis, amet
                accusantium reiciendis eos est asperiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Fugiat provident molestias consectetur cupiditate numquam sed ratione, laudantium consequuntur totam
                atque. Repudiandae tempora iusto quam quod? Consequatur vitae atque quo pariatur!
                <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos perferendis, aperiam nam illo
                obcaecati sequi sint placeat omnis necessitatibus officiis officia praesentium molestias aut modi
                dolorem in aliquam quisquam autem.
            </p>
        </div>

        <div class="season-event d-flex justify-content-between">
            <h1 class="text-center mb-4">Season and Event</h1>
            <div class="section">
                <img src="../image/event.webp" alt="season" class="season">
                <h5 class="bg-light text-dark py-2 text-center">Season Of Claiming</h5>
                <p class="text-secondary">November 1st - December 30th</p>
                <p class="text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad ducimus impedit amet tempore
                    nisi ex? Expedita earum adipisci minus nostrum totam officia recusandae autem blanditiis
                    consectetur. Esse, iure praesentium.
                </p>
            </div>
            <div class="section">
                <img src="../image/mis.webp" alt="season" class="season">
                <h5 class="bg-light text-dark py-2 text-center">Event Of Busssss</h5>
                <p class="text-secondary">December 1st - December 30th</p>
                <p class="text-light">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ad ducimus impedit amet tempore
                    nisi ex? Expedita earum adipisci minus nostrum totam officia recusandae autem blanditiis
                    consectetur. Esse, iure praesentium.
                </p>
            </div>
        </div>

        <div class="map-story d-flex align-items-center justify-content-between">
            <h1 class="text-center mb-4">Game Map</h1>
            <img src="../image/Game-map.webp" alt="Game-map" class="game-map borderimg">
            <img src="../image/Map-of-map-shrines-Ray.webp" alt="Game-map" class="game-map">
        </div>
    </div>

    <!-- Social-media -->
    <div class="media">
        <div class="media-title d-flex align-items-center">
            <img src="../image/cake.png" alt="cake" class="cake d-inline-block">
            <h2 class="text-center">Join Our Community</h2>
            <div class="line"></div>
            <div class="social-media">
                <ul class="p-0  d-flex justify-content-center">
                    <li><a href="#" class="fs-1"><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href="#" class="fs-1"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" class="fs-1"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#" class="fs-1"><i class="fa-brands fa-discord"></i></a></li>
                    <li><a href="#" class="fs-1"><i class="fa-brands fa-square-threads"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <footer class="container-fluid w-100">
        <p class="text-light text-center">All content copyright © 2023, Wonderland Co. Ltd.</p>
        <p class="text-light text-center">Bon Nguyen ft. Minh Nguyen</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>